
body{
    margin: 0;
    padding: 0;
}
.top{
    width: 100%;
    background-color:#212529;
    height: 100px;
    display: flex;
    position: relative;
}

.top_ident div{
    margin-top: auto;
    margin-bottom: auto;
}

.button_modal button{
    font-family: 'Montserrat';
    font-size: 25px;
    color: #ffffff;
    background: none;
    margin: 1px 45px;
    padding-bottom: 15px;
    padding-top: 15px;
    border: #ffffff00 solid 3px;
    border-right: 0px;
    border-left: 0px;
    transition: 0.5s;
    height:70px
    
}

.button_modal button:hover {
    border-right: 0px;
    border-left: 0px;
    border-color: white;
}

.selector_filter select {
    background-color: #ffffff;
    width: 12vw;
    height: 40px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 10px 20px 0px 0px;
    font-size: 2em;
    font-family: 'arial';
    font-size: 18px;
    border: 2px solid #000000;
    transition: 1s;
}

.selector_filter h{
    font-family: 'Montserrat';
    font-size: 20px;
    color: #ffffff;

}

.struct_shablone {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 87vh;
    scrollbar-width: thin;
    scrollbar-color: hsl(0, 0%, 6%);
}

.shablone {
    background-color: rgb(133, 132, 132);
    margin: 10px;
    position: relative;
}

.shablone_image {
    width: 280px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.deletetemplate{
    background-color: #212529;
    border: none;
    width: 30px;
    height: 30px;
    background-image: url("/api/image/delete.png");
    position: absolute; /* Устанавливаем позицию кнопки как абсолютную */
    top: 0; /* Располагаем кнопку вверху контейнера */
    right: 0; /* Располагаем кнопку справа в контейнере */
}

/*МОДАЛЬНОЕ ОКНО  */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    border-radius: 20px;
    background-color: #fefefe;
    margin: 15% auto;
    margin-top: 210px;
    padding: 20px 40px 20px 40px;
    border: 1px solid #888;
    width: 40%;
}

.btn_modal {
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 28px;
    color: #212529;
    background: none;
    margin: 1px 45px;
    padding-bottom: 15px;
    padding-top: 15px;
    border: #ffffff00 solid 3px;
    border-right: 0px;
    border-left: 0px;
    transition: 0.5s;
    height:60px;
    width: 200px;
}

.btn_modal:hover {
    font-weight: bold;
    border-right: 0px;
    border-left: 0px;
    border-color: #212529;
}

.text_modal {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Arial';
    font-size: 20px;
}

.modal_filter{
    display:flex;
    width: 450px;
}

.filt_centr{
    width: 450px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.modal_filter select{
   margin-right: 0%;
   margin-left: auto;
}